.header {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .headerContainer {
        margin-top: 25px;
        width: 80%;
        h1 {
            font-weight: 900;
            font-size: 2.3rem;
        }
        p {
            margin-top: 15px;
            font-style: italic;
        }
    }
}

@media (min-width: 1024px) {
    .header {
        .headerContainer {
            width: 60%;
            h1 {
                font-size: 3rem;
            }
            p {
                font-size: 1.3rem;
            }
        }
    }
}